[submodule "KE_Rust"]
	path = KE_Rust
	url = https://github.com/BurntNail/KE_Rust/
[submodule "KE_CSharp"]
	path = KE_CSharp
	url = https://github.com/BurntNail/KE_CSharp
[submodule "KE_Zig"]
	path = KE_Zig
	url = https://github.com/BurntNail/KE_Zig
[submodule "KE_CPP"]
	path = KE_CPP
	url = https://github.com/BurntNail/KE_CPP
